<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/assets/style.css">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  

  {% if site.head.ogp == true %}

    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">

    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}">
    {% elsif site.description %}
      <meta property="og:description" content="{{ site.description }}">
    {% endif %}

    {% if page.icon %}
      <meta property="og:image" content="{{ site.url }}{{ page.icon }}">
    {% elsif site.head.siteicon %}
      <meta property="og:image" content="{{ site.url }}{{ site.head.siteicon }}">
    {% elsif site.profile.icon %}
      <meta property="og:image" content="{{ site.url }}{{ site.profile.icon }}">
    {% endif %}

  {% endif %}


  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% elsif site.description %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}


  {% if page.icon %}
    <link rel="apple-touch-icon" href="{{ page.icon }}">
  {% elsif site.head.siteicon %}
    <link rel="apple-touch-icon" href="{{ site.head.siteicon }}">
  {% elsif site.profile.icon %}
    <link rel="apple-touch-icon" href="{{ site.profile.icon }}">
  {% endif %}


  {% if site.head.favicon %}
    <link rel="icon" href="{{ site.head.favicon }}">
  {% elsif site.profile.icon %}
    <link rel="icon" href="{{ site.profile.icon }}">
  {% endif %}

  
  {% if site.head.canonical %}
    <link rel="canonical" href="{{ site.head.canonical }}{{ page.url }}">
  {% endif %}


  {% if site.head.onion-location %}
    <meta http-equiv="onion-location" content="{{ site.head.onion-location }}{{ page.url }}">
  {% endif %}


  {% if site.head.noindex == true %}
    <meta name="robots" content="noindex">
  {% endif %}


  {% if page.itunes %}
    <meta name="apple-itunes-app" content="app-id={{ page.itunes }}">
  {% endif %}
  

  {%- feed_meta -%}

  {%- include custom-head.html -%}
  
</head>
