{%- assign profile = site.data.profile -%}
{%- assign settings = site.data.settings -%}

{%- if page.title != "" and page.layout != "home" -%}
{%- capture title -%}{{ page.title }} - {{ site.title }}{% endcapture %}
{%- elsif page.layout == "post" and page.title= "" -%}
{%- capture title -%}{{ page.excerpt | strip_html }} - {{ site.title }}{% endcapture %}
{%- else -%}
{%- assign title = site.title -%}
{%- endif -%}
{%- assign icon = page.image | default: settings.head.siteicon | default: profile.icon -%}
{%- assign description = page.description | default: site.description -%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  <title>{{ title }}</title>
  {% if page.ogp == true or settings.head.ogp == true -%}
  <meta name="twitter:card" content="summary">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ title }}">
  {% if description -%}
  <meta property="og:description" content="{{ description }}">
  {% endif -%}
  {% if icon -%}
  <meta property="og:image" content="{{ site.url }}{{ icon }}">
  {% endif -%}
  {%- endif -%}
  
  {% if description -%}
  <meta name="description" content="{{ description }}">
  {% endif -%}

  {% if icon -%}
  <link rel="apple-touch-icon" href="{{ icon | relative_url }}">
  {% endif -%}

  {% if settings.head.favicon or profile.icon -%}
  <link rel="icon" href="{{ settings.head.favicon | relative_url | default: profile.icon | relative_url }}">
  {% endif -%}

  {% if page.noindex == true or settings.head.noindex == true -%}
  <meta name="robots" content="noindex">
  {% endif -%}

  {% if page.itunes_app -%}
    <meta name="apple-itunes-app" content="app-id={{ page.itunes_app }}">
  {% endif -%}

  {% if page.layout == "home" or page.layout == "post" -%}
  {% feed_meta -%}
  {% endif -%}
  
  {% include custom_head.html %}
</head>
