{%- assign profile = site.data.profile -%}
{%- assign settings = site.data.settings -%}
{%- assign texts = site.data.texts -%}

{%- if page.title != "" and page.layout != "home" -%}
{%- capture title -%}{{ page.title }} - {{ site.title }}{% endcapture %}
{%- elsif page.layout == "post" and page.title == "" -%}
{%- capture title -%}{{ page.excerpt | strip_html }} - {{ site.title }}{% endcapture %}
{%- elsif page.layout == "home" and page.pagination.category -%}
{%- capture title -%}{{ site.title }} | {{ page.title | default: texts.categories[page.pagination.category] }}{% endcapture %}
{%- elsif page.layout == "home" and page.pagination.tag -%}
{%- capture title -%}{{ site.title }} | {{ page.title | default: texts.tags[page.pagination.tag] }}{% endcapture %}
{%- else -%}
{%- assign title = site.title -%}
{%- endif -%}
{%- assign icon = page.icon | default: page.image | default: settings.head.siteicon | default: profile.icon -%}
{%- assign description = page.description | default: settings.head.description | default: site.description | default: page.excerpt -%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
  <title>{{ title }}</title>
  {% if page.ogp == true or settings.head.ogp == true -%}
  {% if page.ogp and page.layout == post -%}
  <meta name="twitter:card" content="summary_large_image">
  {% else -%}
  <meta name="twitter:card" content="summary">
  {% endif -%}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if description -%}
  <meta property="og:description" content="{{ description }}">
  {% endif -%}
  {% if page.ogp or icon -%}
  <meta property="og:image" content="{{ site.url }}{{ page.ogp | default: icon }}">
  {% endif -%}
  {% if page.ogp_alt -%}
  <meta property="og:image:alt" content="{{ page.ogp_alt }}">
  {% endif -%}
  {% if page.type -%}
  <meta property="og:type" content="{{ page.type }}">
  {% elsif page.layout == "post" -%}
  <meta property="og:type" content="article">
  {% elsif page.layout == "home" -%}
  <meta property="og:type" content="profile">
  {% else -%}
  <meta property="og:type" content="website">
  {% endif -%}
  {% if settings.head.x_id -%}
  <meta content="{{ settings.head.x_id }}" name="twitter:site">
  {% endif -%}
  {% if page.layout == "post" -%}
  {% if page.date -%}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif -%}
  {% if page.update -%}
  <meta property="article:modified_time" content="{{ page.update | date_to_xmlschema }}">
  {% endif -%}
  {% endif -%}
  {% endif -%}
  
  {% if description -%}
  <meta name="description" content="{{ description }}">
  {% endif -%}

  {% if icon -%}
  <link rel="apple-touch-icon" href="{{ icon | relative_url }}">
  {% endif -%}

  {% if settings.head.favicon or profile.icon -%}
  <link rel="icon" href="{{ settings.head.favicon | relative_url | default: profile.icon | relative_url }}">
  {% endif -%}

  {% if page.noindex == true or settings.head.noindex == true or site.plugins contains "jekyll-polyglot" and page.lang != site.active_lang and page.layout != "home" -%}
  <meta name="robots" content="noindex">
  {% endif -%}

  {% if page.itunes_app -%}
  <meta name="apple-itunes-app" content="app-id={{ page.itunes_app }}">
  {% endif -%}

  {% if page.layout == "home" and settings.head.feed == true or page.layout == "post" and settings.head.feed == true -%}
  {% if settings.head.custom_feed -%}
  <link rel="alternate" type="application/rss+xml" href="{{ site.head.custom_feed }}">
  {% else -%}
  {% feed_meta -%}
  {% endif -%}
  {% endif -%}

  {% if site.languages -%}
  {% if site.default_lang != "nil" -%}
  <link rel="alternate" hreflang="{{ site.default_lang }}" href="{{ site.url }}{{ page.permalink }}">
  {% endif -%}
  {% for lang in site.languages -%}
  {% if lang == site.default_lang -%}
    {% continue -%}
  {% endif -%}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}/{{ lang }}{{ page.permalink }}">
  {% endfor -%}
  {% endif -%}
  
  {% include custom_head.html %}
</head>
