{%- assign texts = site.data.texts %}
{% assign rtl_languages = "ar,arc,dv,fa,he,ks,nqo,ps,syr,ur,yi" | split: ',' %}
{% assign languages = page.lang-exclusive | default: site.languages %}
{%- if languages.size > 1 or page.lang-exclusive == nil %}
<ul class="lang-select">
  {%- for lang in languages %}
  {%- if languages contains lang or languages == nil %}
  <li><a {% static_href %}href="
  {%- if lang == site.default_lang -%}
  {{ page.url | relative_url | replace: 'index.html', '' }}
  {%- else -%}
  {{ site.baseurl }}/{{ lang }}{{ page.url | replace: 'index.html', '' }}
  {%- endif -%}
  "{% endstatic_href -%}
  {%- if rtl_languages contains lang %} dir="rtl"{% endif %}>
  {{- texts.lang[lang] | default: lang }}</a></li>
  {%- endif -%}
  {%- endfor %}
</ul>
{%- endif %}
