{%- assign url = include.url -%}
{% assign parts = url | split: "/" %}
{%- assign texts = site.data.texts -%}
{%- assign excerpt = include.excerpt -%}
{%- assign user = include.user -%}
{%- assign settings = site.data.settings -%}
{%- if url -%}
<iframe class="mastodon-embed" src="{{ url }}/embed" allowfullscreen="allowfullscreen">
<blockquote>
{%- if excerpt %}
<p>{{ excerpt }}</p>
{%- else %}
<p>{{ texts.mastodon_no_excerpt | default: "(Quote from Mastodon)" }}</p>
{%- endif %}
&mdash; {{ user }}
<a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ url }}</a>
</blockquote>
</iframe>
{%- if settings.embed_js.mastodon == true or settings.embed_js.mastodon contains parts[2] -%}
<script src="https://{{ parts[2] }}/embed.js" async="async"></script>
{%- endif -%}
{%- endif -%}

