{%- assign profile = site.data.profile -%}
{%- assign texts = site.data.texts -%}
{%- assign settings = site.data.settings -%}
{%- assign needjs = false -%}
<section class="sidebutton">
  <div id="overlay"></div>
  {%- if include.only_subs != true %}
  {%- if profile.tip %}
    {%- if profile.tip.size > 1 %}
    {%- assign needjs = true %}
    <noscript class="nosc">
      <a class="menu-btn menues" href="{{ profile.tip[0].url }}" title="{{ texts.tip_menu }}">
        {% include icon/love.svg alt=texts.tip %}
      </a>
    </noscript>
    <button id="btn" class="menu-btn menues" data-menu="menu-tip" title="{{ texts.tip_menu }}" aria-haspopup="menu" aria-label="{{ texts.tip }}">
      {% include icon/love.svg alt=texts.tip %}
    </button>
    <div class="menu" id="menu-tip" role="menu">
      <div class="menuline">
        <button class="close-btn" aria-label="{{ texts.close }}">
          {% include icon/close.svg alt=texts.close %}
        </button>
        <b>{{ texts.tip_menu }}</b>
      </div>
      <ul>
        {%- for entry in profile.tip %}
        <li><a href="{{ entry.url }}" target="_blank" rel="nofollow" role="menuitem">{{ entry.name }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- else %}
    <a class="menu-btn" href="{{ profile.tip[0].url }}" title="{{ texts.tip_menu }}">
      {% include icon/love.svg alt=texts.tip %}
    </a>
    {%- endif -%}
  {%- endif -%}
  {%- if profile.message %}
    {%- if profile.message.size > 1 %}
    {%- assign needjs = true %}
    <noscript class="nosc">
      <a class="menu-btn menues" href="{{ profile.message[0].url }}" title="{{ texts.message_menu }}">
        {% include icon/message.svg alt=texts.message %}
      </a>
    </noscript>
    <button id="btn" class="menu-btn menues" data-menu="menu-message" title="{{ texts.message_menu }}" aria-haspopup="menu" aria-label="{{ texts.message }}">
      {% include icon/message.svg alt=texts.message %}
    </button> 
    <div class="menu" id="menu-message" role="menu">
      <div class="menuline">
        <button class="close-btn" aria-label="{{ texts.close }}">
          {% include icon/close.svg alt=texts.close %}
        </button>
        <b>{{ texts.message_menu }}</b>
      </div>
      <ul>
        {%- for entry in profile.message %}
        <li><a href="{{ entry.url }}" target="_blank" rel="nofollow" role="menuitem">{{ entry.name }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- else %}
    <a class="menu-btn" href="{{ profile.message[0].url }}" title="{{ texts.message_menu }}">
      {% include icon/message.svg alt=texts.message %}
    </a>
    {%- endif -%}
  {%- endif -%}
  {%- endif %}
  {%- if settings.home.subscribe_button == true %}
    {%- assign subscribe_list = profile.subscribe | default: settings.home.tabs %}
    {%- if subscribe_list.size > 1 %}
    {%- assign needjs = true %}
    <noscript class="nosc">
      <a class="menu-btn subscribe menues" href="{{ subscribe_list[0].feed | relative_url }}" title="{{ texts.subscribe_menu }}">{{ texts.subscribe }}</a>
    </noscript>
    <button id="btn" class="menu-btn subscribe menues" data-menu="menu-subscribe" title="{{ texts.subscribe_menu }}" aria-haspopup="menu">{{ texts.subscribe }}</button>
    <div class="menu" id="menu-subscribe" role="menu">
      <div class="menuline">
        <button class="close-btn" aria-label="{{ texts.close }}">
          {% include icon/close.svg alt=texts.close %}
        </button>
        <b>{{ texts.subscribe_menu }}</b>
      </div>
      <ul>
        {%- for entry in subscribe_list %}
        <li><a href="{{ entry.feed | relative_url }}" role="menuitem">{{ entry.name }}{% if entry.description %} - {{ entry.description }}{% endif %}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- else %}
    <a class="menu-btn subscribe" href="{{ subscribe_list.feed | relative_url }}" title="{{ texts.subscribe_menu }}">{{ texts.subscribe }}</a>
    {%- endif -%}
  {%- endif -%}
</section>
{%- if needjs == true %}
<script src="{{ "/assets/js/menu.js" | relative_url }}"></script>
{%- endif %}
