{%- assign profile = site.data.profile -%}
{%- assign texts = site.data.texts -%}
{%- assign settings = site.data.settings -%}
{%- assign type = include.type -%}
<div class="miniprof{% if type == "box" %} box{% endif %}"{% if type == "nav" %} role="navigation"{% elsif type == "box" %} role="complementary"{% endif %}>
<div class="profline">
<a class="proficon {% if settings.round_icon == true %}round{% endif %}" href="{{ "/" | relative_url }}">
{%- if profile.icon %}
<img src="{{ profile.icon | relative_url }}" alt="">
{%- endif %}
<span itemprop="name">{{ profile.name | default: site.title }}</span>
</a>
<div class="buttonline">
{%- if page.layout == "post" and settings.post.share_button == true %}
<button class="shareBtn" id="shareButton" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" role="button">
  <span class="shareMsg"></span>
  <img class="icon" src="{{ "/assets/icon/clip.svg" | relative_url }}" alt="{{ texts.copy }}">
</button>
<script src="{{ "/assets/js/share.js" | relative_url }}"></script>
{%- endif %}
{%- if page.layout == "post" and settings.post.subscribe_button == true %}
{%- include menu.html only_subs=true %}
{%- endif %}
</div>
</div>
{%- if type == "box" %}
<p class="bio">{{ profile.bio }}</p>
{%- endif %}
</div>
