<div class="miniprof">
<a class="icon" href="{{ "/" | relative_url }}">
{%- if site.profile.icon %}
<img src="{{ site.profile.icon | relative_url }}" alt="{{ site.profile.name | default: site.title }}">
{%- endif %}
<span itemprop="name">{{ site.profile.name | default: site.title }}</span>
</a>
{%- if page.layout == "post" and site.post.subscribe-button == true %}
<div class="sbbutton">
<a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" class="bigbutton">{{ site.text.subscribe | default: "Subscribe"}}</a>
</div>
{%- endif %}
</div>
