{%- assign post = include.post -%}
{%- assign texts = site.texts | default: site.text | default: site.data.texts -%}
{%- assign settings = site.settings | default: site.data.settings -%}

<article class="feed-post pagebox">
    <div class="post-excerpt" {% if post.lang %} lang="{{ post.lang }}"{% endif %}>
      <a href="{{ post.url | relative_url }}" class="post-link post-lighter">
        {%- if post.title != "" and post.hide_title != true %}
        <h2>{{ post.title | escape }}</h2>
        {%- endif %}
        {%- if post.title == "" or settings.home.show_excerpts == true %}
        {{ post.excerpt | replace: "<a ", "<span " | replace: "</a>", "</span>" }}
        {%- endif %}
      </a>
    </div>
    <div class="post-foot">
      <div class="meta">
        <a href="{{ post.url | relative_url }}" class="post-lighter">
          {%- if settings.home.show_date == true %}
            <time datetime="{{ post.date | date_to_xmlschema }}">{{- post.date | date: texts.date_format -}}</time>
          {%- endif %}
          {%- if settings.home.show_categories == true %}
            {%- include category.html category=post.category -%}
          {%- endif %}
          {%- if settings.home.show_tags == true %}
            {%- include tags.html tags=post.tag -%}
          {%- endif %}
        </a>
      </div>
      {%- if settings.home.share_button == true %}
      <button class="shareBtn" id="shareButton" data-title="{{ post.title | default: post.excerpt | strip_html }}" data-url="{{ post.url | relative_url }}" role="button" title="{{ texts.share }}">
        <span class="shareMsg"></span>
        {% include icon/share.svg alt=texts.share %}
      </button>
      {%- endif %}
    </div>
</article>
