{%- assign post = include.post -%}
{%- assign texts = site.texts | default: site.text | default: site.data.texts -%}
{%- assign settings = site.settings | default: site.data.settings -%}

<article class="post pagebox">
    <div class="post-box">
      <div class="post-excerpt">
        <a href="{{ post.url | relative_url }}">
          {%- if post.title != "" %}
          <h2>{{ post.title | escape }}</h2>
          {%- endif %}
          {%- if post.title == "" or settings.home.show_excerpts == true %}
          {{ post.excerpt }}
          {%- endif %}
        </a>
      </div>
      <div class="post-foot">
        <div class="meta">
        <a href="{{ post.url | relative_url }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{- post.date | date: texts.date_format -}}</time>
          {%- include category.html category=post.category -%}
          {%- include tags.html tags=post.tag -%}
        </a>
        </div>
        {%- if settings.home.share_button == true %}
        <div>
          <button class="shareBtn" id="shareButton" data-title="{{ post.title | default: post.excerpt | strip_html }}" data-url="{{ post.url | relative_url }}" role="button" title="{{ texts.share }}">
            <span class="shareMsg"></span>
            <img class="icon" src="{{ "/assets/icon/clip.svg" | relative_url }}" alt="{{ texts.copy }}">
          </button>
        </div>
        {%- endif %}
      </div>
    </div>
  </article>
