{%- assign post = include.post -%}
{%- assign texts = site.texts | default: site.text | default: site.data.texts -%}
{%- assign settings = site.settings | default: site.data.settings -%}

<article class="post pagebox">
    <div class="post-box">
      <a href="{{ post.url | relative_url }}">
        {%- if post.title != "" %}
        <h2>{{ post.title | escape }}</h2>
        {%- endif %}
        {%- if post.title == "" or settings.home.show_excerpts == true %}
        {{ post.excerpt }}
        {%- endif %}
        {% if post.image and post.video == nil %}
        <div class="media">
          <img src="{{ post.image.url | default: post.image | relative_url }}"
          {% if post.image.alt or post.image_alt %} alt="{{ post.image.alt | default: post.image_alt }}"{% endif %}>
        </div>
        {% endif %}
        </a>
        {% if post.video %}
        <div class="media">
          <video controlslist="nodownload" controls
          {% if post.video.title %} title="{{ post.video.title }}"{% endif %}
          {% if post.video.poster %} poster="{{ post.video.poster | relative_url }}"{% endif %}>
            <source src="{{ post.video.url | default: post.video | relative_url }}"
          </video>
        </div>
        {% endif %}
        {% if post.audio %}
        <div class="media">
          <audio controlslist="nodownload" controls
          {% if post.audio.title %} title="{{ post.audio.title }}"{% endif %}>
            <source src="{{ post.audio.url | default: post.audio | relative_url }}"
          </audio>
        </div>
        {% endif %}
      <div class="post-foot">
        <div class="meta">
        <a href="{{ post.url | relative_url }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{- post.date | date: texts.date_format -}}</time>
          {%- include category.html category=post.category -%}
          {%- include tags.html tags=post.tag -%}
        </a>
        </div>
        {%- if settings.home.share_button == true %}
        <div>
          <button class="shareBtn" id="shareButton" data-title="{{ post.title | default: post.excerpt | strip_html }}" data-url="{{ post.url | relative_url }}" role="button" title="{{ texts.share }}">
            <span class="shareMsg"></span>
            <img class="icon" src="{{ "/assets/icon/clip.svg" | relative_url }}" alt="{{ texts.copy }}">
          </button>
        </div>
        {%- endif %}
      </div>
    </div>
  </article>
