{%- assign id = include.id -%}
{%- assign url = include.url -%}
{%- assign user = include.user -%}
{%- assign excerpt = include.excerpt -%}
{%- assign texts = site.data.texts -%}
{%- if url and id -%}
<blockquote class="tiktok-embed" cite="{{ url }}" data-video-id="{{ id }}">
<section>
{% if user %}<b>{{- user }}</b>{% endif %}
{{ texts.tiktok_from | default: "From TikTok" }}
{% if excerpt %}<p>{{ excerpt }}</p>{% endif %}
<a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ url }}</a>
</section>
</blockquote>
{%- if site.data.settings.embed_js.tiktok == true -%}
<script async src="https://www.tiktok.com/embed.js"></script>
{%- endif -%}
{%- endif -%}
