* {
  direction: $direction;
  font-family: system-ui, sans-serif;
  text-underline-offset: 0.1em;
  box-sizing: border-box;
  line-height: 1.6;
  overflow-wrap: break-word;
  word-break: auto-phrase;
}

body {
  background: var(--bg);
  color: var(--text);
  width: 800px;
  margin: 0 auto;
  padding: 0;
}

main, article {
  display: block;
  width: 100%;
  padding: 0 16px 16px;
}

h1, h2, h3 {
  color: var(--head);
  line-height: 1.2;
}

a {
  color: var(--link);
}

i {
  color: var(--gray);
}

ul, ol {
  margin: 16px 32px 32px;
  padding: 0;
}
li ul, li ol {
  margin: 16px 24px 32px;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  width: 100%;
  margin: 16px 0;
  th, td {
    padding: 8px 16px;
    border: 1px solid var(--border);
  }
  th {
    background: var(--boxbg);
  }
  tr:nth-child(even) {
    background: var(--boxbglight);
  }
}

blockquote {
  margin: 16px 0;
  padding: 4px 24px;
  background: var(--boxbg);
  border-left: 4px solid var(--border);
}

code {
  background: var(--boxbg);
  border: 1px solid var(--border);
  border-radius: 2px;
  padding: 1px 5px;
}
pre, code, code * {
  font-family: monospace, system-ui, sans-serif;
}
pre code {
  display: block;
  border-radius: 4px;
  padding: 8px 12px;
  overflow-x: auto;
}

hr {
  margin:32px auto;
  width:100%;
  border:1px solid var(--border);
}

header.post {
  margin: 32px 0px;
  a {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
  }
  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    background: var(--boxbg);
    border-radius: $round-icon;
    vertical-align: middle;
    margin: 0 8px;
  }
  h1 {
    font-size: 2em;
    margin: 32px 0 8px;
  }
  time {
    display: block;
    color: var(--gray);
    font-size: 0.9em;
    margin: 8px 2px;
  }
}

header.home {
  margin: 24px 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--border);
  div.headline {
    display: flex;
    align-items: $headline-align;
    justify-content: space-between;
    margin: $headline-margin-top 0 8px;
  }
  img.icon {
    width: 108px;
    height: 108px;
    object-fit: cover;
    background: var(--boxbg);
    border: 4px solid var(--bg);
    border-radius: calc($round-icon + 4px);
    vertical-align: baseline;
    text-align: center;
    margin-top: $icon-margin-top;
  }
  a.subscribe {
    display: inline-block;
    color: var(--text);
    background: var(--boxbg);
    padding: 4px 8px;
    margin: 0 4px;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: background 0.2s;
    &:hover {
      background: var(--boxbglight);
	}
  }
  img.header {
    position: absolute;
    object-fit: cover;
    background: var(--boxbg);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    vertical-align: bottom;
  }
  h1 {
    font-size: 1.5em;
    margin: 0;
  }
  p.bio {
    margin: 8px 0 0;
  }
  h1, p.bio{
    padding: 0 8px;
  }
  span.pronouns {
    display: inline-block;
    color: var(--gray);
    font-size: 0.9em;
    margin: 0 8px;
  }
  a {
    color: var(--link);
    text-decoration: none;
    padding: 4px 4px;
    margin: 0 4px;
    &:hover {
      background: var(--boxbg);
      border-radius: 4px;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    li a img {
      width: 1em;
      vertical-align: middle;
      margin: 0 0 4px;
    }
  }
}

ul.post-list {
  margin: 16px 8px;
  list-style: none;
  li.post {
    display: block;
    margin: 16px 0;
    background: var(--boxbg);
    border-radius: 16px;
    transition: background 0.2s;
	&:hover {
      background: var(--boxbglight);
    }
    h2 {
      font-size: 1.2em;
      margin: 12px 0 6px;
    }
    a {
      display: block;
      padding: 8px 24px;
      color: var(--text);
      text-decoration: none;
    }
    p {
      margin: 8px 0 6px;
    }
    .post-time {
      display: block;
      color: var(--gray);
      font-size: 0.9em;
      margin: 6px 0;
    }
  }
}

@media only screen and (max-width:800px) {
  body {
    width: 100%;
  }
}
@media only screen and (max-width:200px) {
  body {
    width: 200px;
  }
}

