:root {
  color-scheme:dark;
  --bg: #000;
  --page: #1a1c28;
  --text: #eee;
  --gray: #999;
  --head: #f5f5f5;
  --link: #00b2ff;
  --linkhover: #a0d0ff;
  --boxbg: #2a3550;
  --boxbglight: #222a38;
  --border: #457;
}
.menu-btn:hover, .menu-btn:focus {
  filter: brightness(0.7);
}
.menu {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
}
header.home ul.exlink li {
  a:hover, a:focus {
    filter: brightness(0.75);
  }
}
#overlay {
  background: rgba(127, 127, 127, 0.4);
}
.icon {
  filter: invert(1);
}
