:root {
  color-scheme:dark;
  --bg: #000;
  --bglight: #1a1c2a;
  --page: #10111a;
  --text: #eaeaea;
  --gray: #aaa;
  --head: #f5f5f5;
  --link: #00b2ff;
  --linkhover: #a0d0ff;
  --boxbg: #233055;
  --boxbglight: #252843;
  --boxbgtext: #1a1e30;
  --border: #405890;
}
@media (prefers-contrast: more) {
:root {
  --bg: #000;
  --bglight: #202333;
  --page: #10121a;
  --text: #fff;
  --gray: #ccc;
  --head: #fff;
  --link: #5acaff;
  --linkhover: #aadaff;
  --boxbg: #303a60;
  --boxbglight: #2a2c48;
  --boxbgtext: #202335;
  --border: #6078a0;
}
}
article.post {
  border-color: var(--bglight);
}

