:root {
  --bg: #f8f8fd;
  --bglight: #fff;
  --page: #fafafc;
  --text: #2a2a2a;
  --gray: #666;
  --head: #0a0a0a;
  --link: #0050ea;
  --linkhover: #0020a0;
  --boxbg: #c5daff;
  --boxbglight: #e0e8ff;
  --boxbgtext: #e0e8ff;
  --border: #75a5ff;
}
@media (prefers-contrast: more) {
:root {
  --bg: #f0f0f5;
  --bglight: #fff;
  --bgfill: #e0e8fa;
  --page: #fafafc;
  --text: #000;
  --gray: #4a4a4a;
  --head: #000;
  --link: #0020c0;
  --linkhover: #000070;
  --boxbg: #b3ccfa;
  --boxbglight: #d5def6;
  --boxbgtext: #d5def6;
  --border: #4898f8;
}
}

