:root {
  --bg: #f8f8fc;
  --page: #fff;
  --text: #222;
  --gray: #666;
  --head: #0a0a0a;
  --link: #0050ea;
  --linkhover: #0020a0;
  --boxbg: #daeaff;
  --boxbglight: #f0f5ff;
  --border: #a5caff;
}
@media (prefers-contrast: more) {
:root {
  --bg: #fafaff;
  --text: #000;
  --gray: #555;
  --head: #000;
  --link: #0000ff;
  --linkhover: #000090;
  --boxbg: #d0e0ff;
  --boxbglight: #e5f0fa;
  --border: #50a0ff;
}
}

