---
---

{% if site.direction == "rtl" %}
  $direction: rtl;
{% else %}
  $direction: ltr;
{% endif %}

{% if site.profile.round-icon == true %}
  $round-icon: 50%;
{% else %}
  $round-icon: 4px;
{% endif %}

{% if site.profile.header %}
  $headline-align: flex-end;
  $headline-margin-top: 108px;
  $icon-margin-top: -73px;
{% else %}
  $headline-align: center;
  $headline-margin-top: 0;
  $icon-margin-top: 0;
{% endif %}


{% if site.allow-image-select == false %}
img {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
{% endif %}

{% if site.colorstyle == "blue" or site.colorstyle == "red" or site.colorstyle == "green" %}
  {% assign color = site.colorstyle %}
{% else %}
  {% assign color = "blue" %}
{% endif %}

{% if site.darkmode == "true" %}
    @import "benjeto/{{ color }}-dark.scss";
{% else %}
  @import "benjeto/{{ color }}.scss";
  {% if site.darkmode == "allow" %}
	@media(prefers-color-scheme:dark) {
      @import "benjeto/{{ color }}-dark.scss";
	}
  {% endif %}
{% endif %}

@import
  "benjeto/base.scss",
  "benjeto/custom.scss"
;

