{% assign rtl_languages = "ar,arc,dv,fa,he,ks,nqo,ps,syr,ur,yi" | split: ',' %}
{%- assign lang = page.lang | default: site.lang %}
{%- if site.dir == "rtl" -%}
  {%- assign dir = "rtl" %}
{%- elsif site.dir == "ltr" %}
  {%- assign dir = "ltr" %}
{%- else %}
  {%- if rtl_languages contains lang %}
    {%- assign dir = "rtl" %}
  {%- else %}
    {%- assign dir = "ltr" %}
  {%- endif %}
{%- endif -%}
{%- assign settings = site.data.settings -%}
<!DOCTYPE html>
<html{% if lang %} lang="{{ lang }}"{% endif %}{% if dir == "rtl" %} dir="rtl"{% endif %}>
{% include head.html -%}
<body{% if settings.allow_image_select == true %} class="allow-image-select"{% endif %}>
{{ content }}
{%- include footer.html -%}
</body>
</html>
