---
layout: base
---
{%- assign profile = site.data.profile -%}
{%- assign texts = site.data.texts -%}
{%- assign settings = site.data.settings -%}
{%- if profile.header %}
<img class="header" src="{{ profile.header | relative_url }}" alt="" aria-hidden>
{%- endif %}

<main>
<header class="home">
  <div class="headline {% if profile.header and profile.icon == nil %}no-img{% endif %}">
    {%- if profile.icon %}
    <a class="proficon {% if settings.round_icon == true %}round{% endif %} {% if profile.header == nil %}no-header{% endif %}" href="{{ "/" | relative_url }}"><img src="{{ profile.icon | relative_url }}" alt="{{ profile.name }}"></a>
    {%- include menu.html %}
	{%- endif %}
  </div>
  <h1 itemprop="name">{{ profile.name | default: site.title }}</h1>
  {%- if profile.pronouns %}
  <span class="pronouns" itemprop="pronouns">{{ profile.pronouns }}</span>
  {%- endif %}
  {%- if profile.bio %}
  <p class="bio">{{ profile.bio }}</p>
  {%- endif %}
  <ul class="exlink">
  {%- if profile.links -%}
  {%- for entry in profile.links -%}
    {%- include exlink.html item = entry -%}
  {%- endfor -%}
  {%- endif -%}
  </ul>
  {%- unless profile.icon %}
  <div class="headline">
    {%- include menu.html %}
  </div>
  {%- endunless %}
</header>
{%- if profile == nil %}
  <p style="font-weight:bold">
  You must create your profile in _data_benjeto/profile.yml.
  <br><a href="https://benjeto.tsg0o0.com/2024/05/10/how-to-setup.html">See Benjeto documentation for more information.</a>
  </p>
{%- endif -%}
{{ content }}
{%- if site.paginate or site.pagination -%}
  {%- assign posts = paginator.posts -%}
{%- else -%}
  {%- assign posts = site.posts -%}
  {%- assign max_posts = settings.home.max-posts -%}
{%- endif -%}
{%- endif -%}

{%- if posts.size > 0 %}
<section class="post-list" role="feed">
  {%- assign date_format = page.date_format | default: texts.date_format | default: "%Y-%m-%d" -%}
  {%- for post in posts limit:max_posts -%}
  {%- if post.hidden != true %}
  <article class="post">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {%- if post.title != "" %}
      <h2>{{ post.title | escape }}</h2>
      {%- endif %}
      {%- if post.title == "" or settings.home.show_excerpts == true %}
      {{ post.excerpt }}
      {%- endif %}
      {%- if post.title == "" and post.image %}
      <img src="{{ post.image | relative_url }}" class="feature">
      {%- endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}">{{- post.date | date: date_format -}}</time>
      {%- if post.tag -%}
      {%- for entry in post.tag -%}
      <span class="tag">{{ entry }}</span>
      {%- endfor -%}
      {%- endif -%}
    </a>
  </article>
  {%- endif %}
{%- endfor %}
</section>

{%- if site.paginate or site.pagination %}
<section class="paginate">
  {%- if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="back">{{ texts.paginate_back | default: "Back" }}</a>
  {%- else %}
  <span class="back">{{ texts.paginate_back | default: "Back" }}</span>
  {%- endif %}
  <span class="current">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {%- if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next">{{ texts.paginate_next | default: "Next" }}</a>
  {%- else %}
  <span class="next">{{ texts.paginate_next | default: "Next" }}</span>
  {%- endif %}
</section>
{%- endif %}
{%- endif -%}

</main>
