---
layout: base
---
{%- assign backto = page.backto | default: site.post.backto | default: "#" -%}

<main>
<header class="home">
  <div class="headline">
    <a class="icon" href="{{ backto }}"><img src="{{ site.profile.icon }}" alt="{{ site.profile.name }}"></a>
	<div class="sidebutton">
	{%- if site.home.subscribe-button == true %}
      <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url  }}" class="subscribe">{{ site.text.subscribe }}</a>
	{%- endif %}
	{%- if site.profile.contact.url %}
      <a class="contact" href="{{ site.profile.contact.url }}" title="{{ site.profile.contact.name | default: Contact}}">{{ site.profile.contact.name }}</a>
    {%- endif -%}
	</div>
  </div>
  {%- if site.profile.header %}
    <img class="header" src="{{ site.profile.header }}" alt="" aria-hidden>
  {%- endif %}
  {%- if site.profile.name %}
    <h1>{{ site.profile.name }}</h1>
  {%- else %}
    <h1>{{ site.title }}</h1>
  {%- endif %}
  {%- if site.profile.pronouns %}
    <span class="pronouns">{{ site.profile.pronouns }}</span>
  {%- endif %}
  {%- if site.profile.bio %}
    <p class="bio">{{ site.profile.bio }}</p>
  {%- endif %}
  <ul class="exlink">
  {%- if site.profile.links -%}
  {%- for entry in site.profile.links -%}
    {%- include exlink.html item = entry -%}
  {%- endfor -%}
  {%- endif -%}
  </ul>
</header>
{{ content }}
{%- if site.paginate and paginator.posts != nil -%}
  {%- assign posts = paginator.posts -%}
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}

{%- if posts.size > 0 %}
<ul class="post-list">
  {%- if page.date-format %}
    {%- assign date-format = page.date-format -%}
  {%- else %}
    {%- assign date-format = site.date-format | default: "%Y-%m-%d" -%}
  {%- endif %}
  {%- for post in posts -%}
  {%- if post.hidden != true %}
  <li class="post">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {%- if post.untitled != true %}
      <h2>{{ post.title | escape }}</h2>
      {%- endif %}
      {%- if post.untitled == true or site.home.show-excerpts == true %}
      <span class="post-excerpt">{{ post.excerpt }}
      </span>
      {%- endif %}
      <time class="post-time">{{- post.date | date: date-format -}}</time>
    </a>
  </li>
  {%- endif %}
{%- endfor %}
</ul>

{%- if site.paginate %}
<div class="paginate">
  {%- if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="back">{{ site.text.paginate-back }}</a>
  {%- else %}
  <span class="back">{{ site.text.paginate-back }}</span>
  {%- endif %}
  <span class="current">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {%- if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next">{{ site.text.paginate-next }}</a>
  {%- else %}
  <span class="next">{{ site.text.paginate-next }}</span>
  {%- endif %}
</div>
{%- endif %}
{%- endif -%}

</main>
