---
layout: base
---
<article>
<header class="post">
{% if site.post.hide-profile != true and page.hide-profile != true -%}
  {%- include miniprof.html -%}
{%- endif -%}
{%- if page.title != "" -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}
{%- if page.date-format -%}
  {%- assign date-format = page.date-format -%}
{%- else -%}
  {%- assign date-format = site.date-format | default: "%Y-%m-%d" -%}
{%- endif %}
<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
  {{- page.date | date: date-format -}}
</time>
</header>

{{ content }}
</article>
