---
layout: base
---
<article>
<header class="post">
{%- include miniprof.html -%}
{%- if page.title != "" -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}
{%- assign date-format = page.date-format | default: site.date-format | default: "%Y-%m-%d" -%}
<time datetime="{{ page.date | date_to_xmlschema }}">
  {{- page.date | date: date-format -}}
</time>
{%- if page.tag -%}
{%- for entry in page.tag -%}
<span class="tag">{{ entry }}</span>
{%- endfor -%}
{%- endif -%}
{%- if page.author %}
<span class="author" itemprop="name">
{%- for author in page.author -%}
{{ author }}
{%- if forloop.last == false %}, {% endif -%}
{%- endfor -%}
</span>
{%- endif %}
</header>

{{ content }}
</article>
